###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpdoc ###
phpdoc.xml
/data/
/docs/
###< phpdoc ###

###> coverage ###
clover.xml
###< coverage ###

###> symfony bundle
composer.lock
bin/phpunit
###< symfony bundle

###> jetbrains ###
.idea
###< jetbrains ###